# SPDX-License-Identifier: MIT

if SHIELD_CLOVER_DONGLE

# Max 16 characters
config ZMK_KEYBOARD_NAME
	default "Clover Dongle"

config ZMK_SPLIT
	default y

config ZMK_SPLIT_ROLE_CENTRAL
	default y

# Two peripherals: left half + right half
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
	default 2

# Peripherals (2) + desired BT profiles (5)
config BT_MAX_CONN
	default 7

config BT_MAX_PAIRED
	default 7

endif
